  # Miscellaneous
  *.class
  *.log
  *.pyc
  *.swp
  .DS_Store
  .atom/
  .build/
  .web/
  .windows/
  windows/      <-- এটি যোগ করা জরুরি যাতে C++ ফাইলগুলো ইগনোর হয়
  .buildlog/
  .history
  .svn/
  .swiftpm/
  migrate_working_dir/

  # IntelliJ related
  *.iml
  *.ipr
  *.iws
  .idea/

  # VS Code
  .vscode/

  # Flutter/Dart/Pub related
  **/doc/api/
  **/ios/Flutter/.last_build_id
  .dart_tool/
  .flutter-plugins
  .flutter-plugins-dependencies
  .pub-cache/
  .pub/
  /build/
  /coverage/

  # Android SDK Path
  **/android/local.properties   <-- এটি অবশ্যই যোগ করবেন

  # Symbolication and Obfuscation
  app.*.symbols
  app.*.map.json

  # Android Studio build artifacts
  /android/app/debug
  /android/app/profile
  /android/app/release
